= form_with url: pay_mypage_cards_path, method: :post, html: {name: "inputForm"} do |f|
  .credit-card-resistration
    .credit-card-resistration__title
      クレジットカード情報入力
    .credit-card-resistration__box
      .card-information-box
        .card-information-box__card-number
          .label-require-icon
            %label.card-information-box__label カード番号
            .hissu_tag
              必須
          = f.text_field :number, class: "card-information-box__input", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
          = image_tag("creditcards.png", class:"card-information-box__picture")
        .card-information-box__expiration
          .label-require-icon
            %label.card-information-box__label 有効期限
            .hissu_tag
              必須
          = f.select :exp_month, [["--",""],["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'card-information-box__select '
          %span.card-information-box__select__text 月
          = f.select :exp_year, [["--",""],["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'card-information-box__select'
          %span.card-information-box__select__text 年
        .card-information-box__security
          .label-require-icon
            %label.card-information-box__label セキュリティコード
            .hissu_tag
              必須
          = f.text_field :cvc, class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc",class: "card-information-box__input"
          #card_token
          = f.submit "追加する", id: "token_submit", class: "card-information-box__submit"

