.toppage-footer__box
  .toppage-footer__box__top
    .toppage-footer__box__top__footer-list
      %h2.toppage-footer__box__top__footer-list__footer-title
        メルカリについて
      %ul.toppage-footer__box__top__footer-list__information-list
        = link_to "", class: "toppage-information" do
          会社概要（運営会社）
        = link_to "", class: "toppage-information" do
          採用情報
        = link_to "", class: "toppage-information" do
          プレスリリース
        = link_to "", class: "toppage-information" do
          公式ブログ
        = link_to "", class: "toppage-information" do
          メルカリロゴ利用ガイドライン

      .toppage-footer-sns-link
        .toppage-footer-sns-link__icon
          = link_to do
            = fa_icon 'twitter', class: "sns-link-icon"
        .toppage-footer-sns-link__icon
          = link_to do
            = fa_icon 'facebook', class: "sns-link-icon"

    .toppage-footer__box__top__footer-list
      %h2.toppage-footer__box__top__footer-list__footer-title
        ヘルプ&ガイド
      %ul.toppage-footer__box__top__footer-list__information-list
        = link_to "", class: "toppage-information" do
          メルカリガイド
        = link_to "", class: "toppage-information" do
          らくらくメルカリ便
        = link_to "", class: "toppage-information" do
          ゆうゆうメルカリ便
        = link_to "", class: "toppage-information" do
          大型メルカリ便
        = link_to "", class: "toppage-information" do
          車体取引ガイド
        = link_to "", class: "toppage-information" do
          メルカリあんしん・あんぜん宣言！
        = link_to "", class: "toppage-information" do
          偽ブランド品撲滅への取り組み
        = link_to "", class: "toppage-information" do
          メルカリボックス

    .toppage-footer-list-box
      .toppage-footer-list-box__title-privacy-policy
        プライバシーと利用規約
      %ul.toppage-footer-list-box__informationlist2
        %li.sns-link-icon-information
          = link_to "", class: "toppage-information2" do
            プライバシーポリシー
          = link_to "", class: "toppage-information2" do
            メルカリ利用規約
          = link_to "", class: "toppage-information2" do
            あんしんスマートサポート制度に関する利用特約
          = link_to "", class: "toppage-information2" do
            コンプライアンスポリシー
        %li.sns-link-icon-information
          = link_to "", class: "toppage-information2" do
            個人データの安全管理に係る基本方針
          = link_to "", class: "toppage-information2" do
            特定商取引に関する表記
          = link_to "", class: "toppage-information2" do
            資金決済法に基づく表示
          = link_to "", class: "toppage-information2" do
            法令遵守と犯罪防止のために

    .toppage-footer__box__top__footer-list
      %h2.toppage-footer__box__top__footer-list__footer-title
        国
      %ul.toppage-footer__box__top__footer-list__information-list
        = link_to "", class: "toppage-information" do
          日本
        = link_to "", class: "toppage-information" do 
          United States
      
  .toppage-footer__box__bottom
    .toppage-footer__box__bottom__mercari-logo
      = image_tag 'logo-white.png', class: 'footer__white__logo', height: '33', width: '124'
    %span.toppage-footer__box__bottom__copyright
      ©️ 2019 Mercari