.toppage-header
  .toppage-header__box
    .toppage-header__box__top
      %h1.mercari-top-logo
        = link_to do
          = image_tag 'main-logo.png', height: '52', width: '167'
      .toppage-header__box__top__right
        .toppage-header__box__top__right__search
          %input{type: "search", class: "search", placeholder: "何かお探しですか？" }
        .toppage-header__box__top__right__icon
          = link_to "", class: "search-icon-link" do
            = fa_icon 'search', class: "search-icon"
    .toppage-header__box__bottom
      .toppage-header__box__bottom__li
        %ul.toppage-header__box__bottom__li__left
          %li.toppage-header__box__bottom__li__left__li-search
            = fa_icon 'list-ul', class: "search-icon-left"
            = link_to "", class: "search-brand-category" do
              カテゴリーから探す
          %li.toppage-header__box__bottom__li__left__li-search
            = fa_icon 'tag', class: "search-icon-left"
            = link_to "", class: "search-brand-category" do
              ブランドから探す

        -# #ログインしている場合
        %ul.toppage-header__box__bottom__li__right
          %li.toppage-header__box__bottom__li__right__iine
            = link_to "", class: "iine-message-todo" do
              = fa_icon 'heart', class: "search-icon-right"
              %span
                いいね！一覧
          %li.toppage-header__box__bottom__li__right__message
            = link_to "", class: "iine-message-todo" do
              = fa_icon 'bell', class: "search-icon-right"
              お知らせ
          %li.toppage-header__box__bottom__li__right__todo
            = link_to "", class: "iine-message-todo" do
              = fa_icon 'check', class: "search-icon-right"
              やることリスト
          %li.toppage-header__box__bottom__li__right__mypage
            = image_tag 'avator.png', class: 'gotomypage-icon', height: '32', width: '32'
            = link_to mypage_path, class: "gotomypage" do
              マイページ

        -# #ログインしていない場合
        -# %ul.toppage-header__box__bottom__li__right2
        -#   %li.toppage-header__box__bottom__li__right2__signup
        -#     = link_to "", class: "toppage-header__box__bottom__li__right2__signup__icon" do
        -#       新規会員登録
        -#   %li.toppage-header__box__bottom__li__right2__login
        -#     = link_to "", class: "toppage-header__box__bottom__li__right2__login__icon" do
        -#       ログイン