%h1.heading 
  = @item.name
.main-container-hatapon
  .main-container-hatapon--left
    .main-container-hatapon--left--big
      = image_tag "#{ @item.images.first.url}", class: "photo-screen"
    .main-container-hatapon--left--small
      - @item.images.each do |image|
        .main-container-hatapon--left--small__1
          = image_tag "#{image.url}", class: "photo-screen"
        
  %table.main-container-hatapon--right
    %tr.main-container-hatapon--right--wide
      %th.main-container-hatapon--right--wide__question 出品者
      %td.main-container-hatapon--right--wide__value
        //user のp路フィールに飛ばす
        = link_to  "", class: "table-a sender-name" do
          %p 
            = @item.user.nickname
        .main-container-hatapon--right--wide__value__face-number
          = fa_icon "smile-o", class: "main-container--right--wide__value__face-number--good"
          %span.main-container-hatapon--right--wide__value__face-number__number 12
        .main-container-hatapon--right--wide__value__face-number
          = fa_icon "meh-o", class: "main-container--right--wide__value__face-number--normal"
          %span.main-container-hatapon--right--wide__value__face-number__number 12
        .main-container-hatapon--right--wide__value__face-number
          = fa_icon "frown-o", class: "main-container--right--wide__value__face-number--bad"
          %span.main-container-hatapon--right--wide__value__face-number__number 120             
    %tr.main-container-hatapon--right--wide
      %th.main-container-hatapon--right--wide__question カテゴリー
      %td.main-container-hatapon--right--wide__value
        = link_to category_path(@item.category.parent.parent.id) , class:"table-a classification" do
          =@item.category.parent.parent.name
        = link_to category_path(@item.category.parent.id), class: "table-a classification" do
          = fa_icon "arrow-right"
          %span 
            = @item.category.parent.name
        = link_to category_path(@item.category.id), class: "table-a classification" do
          = fa_icon "arrow-right"
          %span 
            = @item.category.name
    %tr.main-container-hatapon--right--wide
      %th.main-container-hatapon--right--wide__question ブランド
      %td.main-container-hatapon--right--wide__value
        = link_to "NASA", "", class: "table-a"
    - if @item.size.present?
      %tr.main-container-hatapon--right--wide
        %th.main-container-hatapon--right--wide__question 商品のサイズ
        %td.main-container-hatapon--right--wide__value 
          = @item.size
    %tr.main-container-hatapon--right--wide
      %th.main-container-hatapon--right--wide__question 商品の状態
      %td.main-container-hatapon--right--wide__value 
        = Condition.find(@item.condition).name
    %tr.main-container-hatapon--right--wide
      %th.main-container-hatapon--right--wide__question 配送料の負担
      %td.main-container-hatapon--right--wide__value 
        -begin
          = Cost.find(@item.send_cost).name
        -rescue
          = "----"
    %tr.main-container-hatapon--right--wide
      %th.main-container-hatapon--right--wide__question 配送の方法
      %td.main-container-hatapon--right--wide__value 
        = Post.find(@item.send_method).name
    %tr.main-container-hatapon--right--wide
      %th.main-container-hatapon--right--wide__question 配送元地域
      %td.main-container-hatapon--right--wide__value 
        = Prefecture.find(@item.send_place).name
    %tr.main-container-hatapon--right--wide
      %th.main-container-hatapon--right--wide__question 発送日の目安
      %td.main-container-hatapon--right--wide__value 
        = Day.find(@item.send_day).name
.price-box
  %span.price-box__number 
    - price = add_comma(@item.price)
    = "¥#{price}" 
  %span.price-box__tax (税込)
  %span.price-box__send-tax 送料込み
= link_to "購入画面に進む", purchase_path(@item.id), class: "red-button"
%p.item-description 
  = @item.content