-# localオプションで変数をitemに渡してください
-# 使用例です。
-#  = render 'shared/search-item' ,item: @test

-# sold-flagは売約済みか否かを示す部分です。

.itemsearch-box
  - if item.buyer_id != nil
    .sold-flag  
    .sold-flag__text
      sold 
  = link_to item_path(item.id) ,class: "itemsearch-box__link" do
    - begin
      = image_tag "#{item.images.first.url}",class:"itemsearch-box__picture" 
    - rescue  
      = image_tag "",class:"itemsearch-box__picture" 
    .itemsearch-box__discription
      = item.name
      .itemsearch-box__discription__info
        .itemsearch-box__discription__price
          ¥
          - price = add_comma(item.price)
          = price
        .itemsearch-box__discription__like
          = fa_icon 'heart-o', class:'heart'