- @items.each do |item|
  %ul.item-content-box__list
    = link_to mypage_listings_display_path(item.id),class: "link-display" do
      %li.item-content-box__list__item
        .listing-imagebox
          = image_tag "#{item.images[0].url}", width:45, height:45
        .listing-name
          = item.name
          .listing-name__icon
            %span.listing-name__icon__heart
              = fa_icon 'heart-o',class:"listing-icon"
            .listing-name__icon__num
              0
            %span.listing-name__icon__comment
              = fa_icon 'commenting-o',class:"listing-icon"
            .listing-name__icon__num
              0
            .selling-now
              出品中
        .listing-angle
          = fa_icon 'angle-right',class:"listing-right listing-angle"