.side-list
  %nav.mypage-nav
    %ul.mypage-nav__list
      %li.side-bar
        マイページ
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        お知らせ
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        やることリスト
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        いいね！一覧
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        出品する
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        出品した商品 - 出品中
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        出品した商品 - 取引中
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        出品した商品 - 売却済
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        購入した商品 - 取引中
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        購入した商品 - 過去の取引
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        ニュース一覧
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        評価一覧
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        ガイド
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        お問い合わせ
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"

    %h3.mypage-nav__head
      メルペイ
    %ul.mypage-nav__list
      %li.side-bar
        売り上げ・振込申請
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        ポイント
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
    %h3.mypage-nav__head
      設定
    %ul.mypage-nav__list
      %li.side-bar
        プロフィール
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        発送元・お届け先住所変更
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        支払い方法変更
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        メール/パスワード
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        本人情報
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        電話番号の確認
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"
      %li.side-bar
        ログアウト
        %i.side-bar__angle-right
          = fa_icon 'angle-right' ,class:"angle-right fa-lg"