//render pageにpertialで実装する
- @items.each do |item|
  .item-box-contents__items-box 
    = link_to item_path(item.id), class: "item-box-contents__items-box__name" do
      .item-box-contents__items-box__photo
        = image_tag "#{item.images.first.url}", class: 'toppage-item-pic', height: '213', width: '213'
      .item-box-contents__items-box__body
        .item-box-contents__items-box__body__name
          = item.name
        .item-box-contents__items-box__body__number
          .items-box-price
            = item.price
          .items-box-heart
            .items-box-heart__icon
              = fa_icon 'heart', class: "search-icon-right"
            .items-box-heart__count
              2
