.log-body
  .log-body__container
    = render "shared/header-log"
    .main
      .main__box
        .main__box__no-login
          %p.main__box__no-login__text
            アカウントをお持ちでない方はこちら
          = link_to login_menber_information_signup_index_path, class: 'link-three' do
            .main__box__no-login__box
              新規会員登録
        .main__box__form-inner
          = link_to 'https://www.facebook.com', class: 'link-three' do
            .main__box__form-inner__facebook-btn
              = fa_icon 'facebook-square', class: 'sns-icon fa-2x'
              Facebookで登録する
          = link_to 'https://www.google.com/?hl=ja', class: 'link-three' do
            .main__box__form-inner__google-btn
              = fa_icon 'google', class:'sns-icon fa-lg'
              Googleで登録する
        .main__box__form-box
          .main__box-inner
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              %span
                = f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "main__box-inner__input-mail"
              %span
                = f.password_field :password, placeholder: "パスワード", class: "main__box-inner__input-password"
              .main__box__inner__contents__robot
                %select.main__box__inner__contents__robot__box
                = f.submit "ログイン", class: 'main__box-inner__btm'
              .main__box-inner__information
                %p.main__box-inner__text-box
                  = link_to 'パスワードをお忘れの方', '' , class: 'kiyaku' 
    = render "shared/footer-log"