#wall-o
  = render "shared/header"
  .wallpaper-hatakeyama
    .item-box
      = render "shared/items"   
      .button-zones
        .button-zones--left
          %button.button-zones--left__report
            = fa_icon "heart-o"
            %span いいね! 3
          %button.button-zones--left__report
            = fa_icon "flag-o"
            %span 不適切な商品の報告
        = link_to "", class:"button-zones--right" do
          =fa_icon "lock" 
          %span あんしん・あんぜんへの取り組み
    .message-box   
      %p.message-box__warning 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.message-box__input
      = link_to "コメントする", "", class: "message-box__submit"
    .history-of-items
      .history-of-items__past
        = link_to "",  class: "bow-side" do
          = fa_icon "arrow-left"
          %span aaaa
      .history-of-items__feuture
        = link_to "",  class: "bow-side" do
          %span bbb
          = fa_icon "arrow-right"
    .social-box
      %ul.social-box__icons
        %li.social-box__icons__icon
          = link_to "", class: "medias" do
            = fa_icon "facebook", class: "media-button facebook-button"
        %li.social-box__icons__icon
          = link_to "", class: "medias" do
            = fa_icon "twitter", class: "media-button twitter-button"
        %li.social-box__icons__icon
          = link_to "", class: "medias" do
            %p.media-button.line-button Line
        %li.social-box__icons__icon
          = link_to "", class: "medias" do
            = fa_icon "pinterest", class: "media-button pinterest-button" 
    .others-item-box
      .same-item
        = link_to "", class: "same-item__name" do
          %p
            = "#{@item.user.nickname}さんの他の出品"        
        - @item.user.items.each do |item|
          - if item != @item
            .same-item__box
              = link_to item_path(item.id), class: "same-item__box__individual" do
                .same-item__box__individual__photo
                  = image_tag "#{item.images.first.url}", class: "photo-screen"
                .same-item__box__individual__text-box
                  %p.same-item__box__individual__text-box__name 
                    = item.name
                  %p.same-item__box__individual__text-box__price 
                    = item.price      
      -# .same-item
      -#   = link_to "同じブランドの商品", "", class: "same-item__name" 
      -#   .same-item__box
      -#     = link_to "", class: "same-item__box__individual" do
      -#       .same-item__box__individual__photo
      -#         = image_tag "/assets/avator.png", class: "photo-screen"
      -#       .same-item__box__individual__text-box
      -#         %p.same-item__box__individual__text-box__name aaaa
      -#         %p.same-item__box__individual__text-box__price ¥12,300
      -#         //部分テンプレ
      -#   .same-item__box
      -#     = link_to "", class: "same-item__box__individual" do
      -#       .same-item__box__individual__photo
      -#         = image_tag "/assets/avator.png", class: "photo-screen"
      -#       .same-item__box__individual__text-box
      -#         %p.same-item__box__individual__text-box__name aaaa
      -#         %p.same-item__box__individual__text-box__price ¥12,300